<!DOCTYPE html>
<html>
<head>
	{%block head%}
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/css/hotroom1.css">
	{%endblock%}
</head>
<body style="background-color:#0c0c0c">
	{%block content%}
	<div class="container-fluid nopx">
		<!--div class="jumbotron" style="background-image:url('https://o3sw4xojp.qnssl.com/Douyufanheader.webp')"-->
		<div class="row nopx">
			<div class="jumbotron nopx" style="background-image:url('../static/title.jpg');height:200px"/>
		</div>
		<div class="row nopx">
			<div class="navbar  navbar-inverse" role="navigation" style="margin-bottom:0px;">
				<div class="container container-fluid nopx">
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li><a href="/">今日数据</a></li>
							<li><a href="/history">历史</a></li>
							<li><a href="/chatmsg">火箭频道</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="../static/js/Douyufanjquery.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
	<script src="../static/js/echarts.min.js"></script>
	<script src="../static/js/socket.io.min.js"></script>
	{%endblock%}
</body>
</html>