<!DOCTYPE html>
<html>
<head>
	{%block head%}
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="https://o3sw4xojp.qnssl.com/Douyufanbootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://o3sw4xojp.qnssl.com/Douyufanhotroom1.css">
	{%endblock%}
</head>
<body>
	{%block content%}
	<div class="container-fluid" style="background-color:rgb(17,17,17)">
		<!--div class="jumbotron" style="background-image:url('https://o3sw4xojp.qnssl.com/Douyufanheader.webp')"-->
		<div class="row">
			<div class="jumbotron" style="background-image:url('https://o3sw4xojp.qnssl.com/Douyufantitle.jpg');height:200px"/>
		</div>
		<div class="row">
			<div class="navbar  navbar-inverse" role="navigation" style="margin-bottom:0px;">
				<div class="container container-fluid">
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li><a href="/">今日数据</a></li>
							<li><a href="/history">历史</a></li>
							<li><a href="/chatmsg">火箭频道</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://o3sw4xojp.qnssl.com/Douyufanjquery.min.js"></script>
	<script src="https://o3sw4xojp.qnssl.com/Douyufanbootstrap.min.js"></script>
	<script src="https://o3sw4xojp.qnssl.com/Douyufanecharts.min.js"></script>
	<script src="https://o3sw4xojp.qnssl.com/Douyufansocket.io.min.js"></script>
	{%endblock%}
</body>
</html>