{%extends "base.html"%}
{%block head%}
	{{super()}}
    <meta http-equiv="Access-Control-Allow-Origin">
{%endblock%}
{%block title%}Hottest Room{%endblock%}
{%block content%}
{{super()}}
<div class="container-fluid">
    <!--在此动态增加最热房间-->
    <div class="container">
        <h2>热门房间</h2>
        {%if hotroom%}
            {%for room in hotroom%}
                {%if flag%3==0 %}
                <div class="row">
                {%endif%}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src={{room['img']}} alt="http://www.douyu.com/{{room['roomid']}}">
                        <div class="caption">
                            <h4>{{room['roomtitle']}}</h4>
                            <p>
                                <a href="http://www.douyu.com/{{room['roomid']}}" target="_blank">
                                    {{room['anchor']}}@{{room['tag']}}
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                {%set flag=flag+1%}
                {%if flag%3==0 %}
                </div>
                {%endif%}
            {%endfor%}
        {%endif%}
    </div>
    <div class="container" id="rockets">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1" id="divchat">
                <ul class="list-group" id="messages"></ul>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://o3sw4xojp.qnssl.com/Douyufansocket.io.min.js"></script>
<script type="text/javascript" src="../static/scripts/gift1.js"></script>
{%endblock%}