{%extends "base.html"%}
{%block head%}
	{{super()}}
    <link rel="stylesheet" type="text/css" href="../static/css/hotroom.css">
    <meta http-equiv="Access-Control-Allow-Origin">
{%endblock%}
{%block title%}Hottest Room{%endblock%}
{%block content%}
<div class="container-fluid">
    <!--在此动态增加最热房间-->
    <div class="container">
        <h2>热门房间</h2>
        {%if hotroom%}
            {%for room in hotroom%}
                {%if flag%3==0 %}
                <div class="row">
                {%endif%}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src={{room['img']}} alt="http://www.douyu.com/{{room['roomid']}}">
                        <div class="caption">
                            <h4>{{room['roomtitle']}}</h4>
                            <p>
                                <a href="http://www.douyu.com/{{room['roomid']}}" target="_blank">
                                    {{room['anchor']}}@{{room['tag']}}
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                {%set flag=flag+1%}
                {%if flag%3==0 %}
                </div>
                {%endif%}
            {%endfor%}
        {%endif%}
    </div>
    <div class="container" id="rockets">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1" id="divchat">
                <ul class="list-group" id="messages"></ul>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io.connect('http://localhost:' + 3000);
    var counter = 1;
    var rcounter = 0;
    var rocketrow = 0;
    var chatlist = new Array();
    /*
        此方法是客户端与服务器连接之后，向服务器发送空消息，从而触发服务器向客户端发送消息
    */
    socket.on('connect', function() {
    	    var timer = setInterval(function(){
	    	socket.emit('chat msg','');
	    },1000);
    });
    /*
        此方法主要用以接收服务器的聊天信息
    */
    socket.on('connect', function() {
        socket.on('broad cast', function(msg){
            if (counter%10==0){
                $('#messages').empty();
            }
            $('#messages').append('<li class="list-group-item">'+msg+'</li>');
            counter+=1;
          });
    });
    /*
        此处主要用以接受来自socketio服务器发送的可以抢鱼丸的房间，并通过jQury动态添加相应的元素到页面
    */
    socket.on('connect', function() {
        socket.on('rocket cast', function(msg){
            if(msg!=null){
                if(rcounter==0){
                    $('#rockets').append("<h2>鱼丸礼物</h2><br>");
                }
                var rowid = "rocketrow" +parseInt(rcounter/3);
                var colid = "room" + rcounter;
                if(rcounter%3==0){
                    $('#rockets').append("<div class='row' id="+ rowid +"/>")
                }
                $('#'+rowid).append("<div class='col-sm-6 col-md-4' id="+colid+ "><div class='thumbnail'><img src='"+ msg['img'] +"'"+ "alt='http://www.douyu.com/"+ msg['roomid'] +"'"+">"+
                    "<div class='caption'><h4>"+msg['roomtitle']+"</h4><p><a target='_blank' href='http://www.douyu.com/"+msg['roomid']+"'>"+msg['anchor']+"@"+msg['tag']+"</a></p></div>"
                 + "</div></div>");
                var timer = setTimeout(function(){
                    $('#'+colid).remove();
                },30000)
                rcounter+=1;
                chatlist.push(msg)
            }
          });
    });
</script>
{%endblock%}