{%extends "base.html"%}
{%block head%}
{{super()}}
<link rel="stylesheet" type="text/css" href="https://o3sw4xojp.qnssl.com/Douyufanzabuto_calendar.min.css">
{%endblock%}
{%block title%}
History
{%endblock%}
{%block content%}
{{super()}}
<div class="container nopx" style="width:1200px !important;background-color: rgb(242,242,242);margin:auto;">
	<div class="row nopx">
		<div class="col-md-4">
			<h3 style="margin-top:3px">点击获取🚀发送情况</h3>
			<div id="date-popover" class="popover top">
			    <div id="date-popover-content" class="popover-content"></div>
			</div>
			<div id="calendar"></div>
		</div>
		<div class="col-md-8 nopx" id="historyRockets" style="height:400px"></div>
	</div>
</div>
<script src="https://o3sw4xojp.qnssl.com/Douyufanzabuto_calendar.min.js"></script>
<script type="application/javascript" src="https://o3sw4xojp.qnssl.com/DouyufanhistoryData.js"></script>
{%endblock%}