{%extends "base.html"%}
{%block title%}DouyuFan{%endblock%} 
{%block content%}
{{super()}}
<div class="container" >
	<div class="row">
		<div class="col-md-12" id="piemonitor" style="height:400px">
	</div>
</div>
<div class="container">
	<div class="row" id="senderRow">
		<h2>土豪排行</h2>
		<div class="col-md-3" id="senderRank"></div>
		<div class="col-md-9" id="senderPie" style="height:430px"></div>
	</div>
	<div class="row" id="recverRow">
		<h2>主播排行</h2>
		<div class="col-md-3" id="recverRank"></div>
		<div class="col-md-9" id="recverPie" style="height:430px"></div>
	</div>
</div>	
<script src="https://o3sw4xojp.qnssl.com/Douyufanindex1.js"></script>
{%endblock%}