{%extends "base.html"%}
{%block head%}
	{{super()}}
    <meta http-equiv="Access-Control-Allow-Origin">
{%endblock%}
{%block title%}Hottest Room{%endblock%}
{%block content%}
{{super()}}
<div class="container nopx" style="width:1200px !important;background-color: rgba(8, 8, 8, 0.72);margin:auto;">
	{%if roomid%}
		<object type="application/x-shockwave-flash" data="http://staticlive.douyutv.com/common/share/play.swf?room_id={{roomid}}" width="1200px" height="750px" allowscriptaccess="always" allowfullscreen="true" allowfullscreeninteractive="true"><param name="quality" value="high"><param name="bgcolor" value="#000000"><param name="allowscriptaccess" value="always"><param name="allowfullscreen" value="true"><param name="wmode" value="transparent"><param name="allowFullScreenInteractive" value="true">
			<param name="quality" value="high">
			<param name="bgcolor" value="#000000">
			<param name="allowscriptaccess" value="always">
			<param name="allowfullscreen" value="true">
			<param name="wmode" value="transparent">
			<param name="allowFullScreenInteractive" value="true">
		</object>
	{%endif%}
</div>
{%endblock%}